<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="title">
                <h1>Change your Password</h1>
            </div>
            <form class="form" action="/user/update_forgot_password" method="post">
                <div class="field">
                    <input type="text" required name="password"/>
                    <label>New Password</label>
                </div>
                <div class="field">
                    <input type="text" required name="confirm"/>
                    <label>Confirm Password</label>
                </div>
                <input type="hidden" name="code" value="<%= code %>"/>
                <input type="hidden" name="email" value="<%= email %>"/>
                <button type="submit">Submit</button>
            </form>
            <div class="error">
                <% if(err){ %>
                    <div>
                        <h1> <%= err %></h1>
                    </div>
                 <% } %>
            </div>
        </div>
    </div>
</body>
</html>