<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div>
                <h1>Change Your Password</h1>
            </div>
            <form action="/user/update_forgot_password" method="post">
                <input type="text" name="password"/>
                <input type="text" name="confirm"/>
                <input type="hidden" name="code" value="<%= code %>"/>
                <input type="hidden" name="email" value="<%= email %>"/>
                <button type="submit">Submit</button>
            </form>
            <% if(err){ %>
                <div>
                    <h1> <%= err %></h1>
                </div>
             <% } %>
        </div>
    </div>
</body>
</html>